.pageBody{
    background-color: white;
    height:100vh;
}
.bodyHeader{
    margin-top: 5%;
    color:darkgreen;
    font-size:30px;
    position:absolute;
    left:5%;
    margin-bottom: 10%;
}
.livingTypes{
    position:absolute;
    top:120%;
    left:5%;
}
.groupLivingCards{
    position: absolute;
    top:130%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}